:root {
    --font-primary : "Lexend", sans-serif;
    --font-secondary : "Inter", sans-serif;
	--color-brand-1: #5c63ed;
	--color-brand-2: #7d82f1;
	--color-brand-3: #bec1f8;
	--color-brand-4: #e7e8fc;
	--color-grey-1: #212529;
	--color-grey-2: #495057;
	--color-grey-3: #ced3d7;
	--color-grey-4: #f1f3f5;
	--color-grey-5: #f8f9fa;
}

body{
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
}

