
.Heading-1-700{
    color: white;
    font-family: var(--font-primary);
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 3.5rem;
}

.Heading-2-600{
    color:#2D2E4D;
    font-family: var(--font-primary);
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 2.1875rem;
}

.Heading-3-600{
    font-family: var(--font-primary);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.875rem;
}

.Heading-3-500{
    color:#2D2E4D;
    font-family: var(--font-primary);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.875rem;
}

.Heading-4-600{
    color: var(--color-grey-1);
    font-family: var(--font-primary);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5625rem;
}

.body-1-400{
    color:  #DEE0FB;
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
}
.body-1-405{
    color: var(--color-grey-2);
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
}

.body-1-600{
    color: var(--color-grey-2);
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.75rem;
}
.body-1-605{
    color: white;
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.75rem;
}
.body-2-400{
    font-family: var(--font-secondary);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.0625rem;
}

.body-2-500{
    color: #5E5E66;
    font-family: var(--font-secondary);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.0625rem;
}

.body-2-505{
    color: #495057;
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.21rem;
}

.button-text{
    color: white;
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-weight: 600;
}